[Unit]
Description=kanata

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/kanata --cfg /home/fenuks/.config/kanata/durgod_k310_iso.kbd
Nice=-20

[Install]
WantedBy=default.target
