{
  // http://eslint.org/docs/rules/

  /* "ecmaFeatures": { */
  /*   "binaryLiterals": false,                    // enable binary literals */
  /*   "blockBindings": false,                     // enable let and const (aka block bindings) */
  /*   "defaultParams": false,                     // enable default function parameters */
  /*   "forOf": false,                             // enable for-of loops */
  /*   "generators": false,                        // enable generators */
  /*   "objectLiteralComputedProperties": false,   // enable computed object literal property names */
  /*   "objectLiteralDuplicateProperties": false,  // enable duplicate object literal properties in strict mode */
  /*   "objectLiteralShorthandMethods": false,     // enable object literal shorthand methods */
  /*   "objectLiteralShorthandProperties": false,  // enable object literal shorthand properties */
  /*   "octalLiterals": false,                     // enable octal literals */
  /*   "regexUFlag": false,                        // enable the regular expression u flag */
  /*   "regexYFlag": false,                        // enable the regular expression y flag */
  /*   "templateStrings": false,                   // enable template strings */
  /*   "unicodeCodePointEscapes": false,           // enable code point escapes */
  /*   "jsx": false                                // enable JSX */
  /* }, */

  "env": {
    "browser": true,      // browser global variables.
    "es6": true,          // set javascript version
    "node": false,        // Node.js global variables and Node.js-specific rules.
    "amd": false,         // defines require() and define() as global variables as per the amd spec.
    "mocha": false,       // adds all of the Mocha testing global variables.
    "jasmine": false,     // adds all of the Jasmine testing global variables for version 1.3 and 2.0.
    "phantomjs": false,   // phantomjs global variables.
    "jquery": false,      // jquery global variables.
    "prototypejs": false, // prototypejs global variables.
    "shelljs": false,     // shelljs global variables.
  },

  "globals": {
    // e.g. "angular": true
  },

  "plugins": [
    // e.g. "react" (must run `npm install eslint-plugin-react` first)
  ],

  "rules": {
    ////////// Possible Errors //////////

    "no-cond-assign": 1,          // disallow assignment in conditional expressions
    "no-console": 0,              // disallow use of console (off by default in the node environment)
    "no-constant-condition": 1,   // disallow use of constant expressions in conditions
    "no-control-regex": 1,        // disallow control characters in regular expressions
    "no-debugger": 1,             // disallow use of debugger
    "no-dupe-keys": 1,            // disallow duplicate keys when creating object literals
    "no-empty": 1,                // disallow empty statements
    "no-ex-assign": 1,            // disallow assigning to the exception in a catch block
    "no-extra-boolean-cast": 1,   // disallow double-negation boolean casts in a boolean context
    "no-extra-parens": 1,         // disallow unnecessary parentheses (off by default)
    "no-func-assign": 1,          // disallow overwriting functions written as function declarations
    "no-inner-declarations": 1,   // disallow function or variable declarations in nested blocks
    "no-invalid-regexp": 1,       // disallow invalid regular expression strings in the RegExp constructor
    "no-irregular-whitespace": 1, // disallow irregular whitespace outside of strings and comments
    "no-negated-in-lhs": 1,       // disallow negation of the left operand of an in expression
    "no-obj-calls": 1,            // disallow the use of object properties of the global object (Math and JSON) as functions
    "no-regex-spaces": 1,         // disallow multiple spaces in a regular expression literal
    "no-sparse-arrays": 1,        // disallow sparse arrays
    "no-unreachable": 1,          // disallow unreachable statements after a return, throw, continue, or break statement
    "use-isnan": 1,               // disallow comparisons with the value NaN
    "valid-jsdoc": 1,             // Ensure JSDoc comments are valid (off by default)
    "valid-typeof": 1,            // Ensure that the results of typeof are compared against a valid string


    ////////// Best Practices //////////

    "block-scoped-var": 1,      // treat var statements as if they were block scoped (off by default)
    "complexity": 1,            // specify the maximum cyclomatic complexity allowed in a program (off by default)
    "consistent-return": 1,     // require return statements to either always or never specify values
    "curly": 1,                 // specify curly brace conventions for all control statements
    "default-case": 1,          // require default case in switch statements (off by default)
    "dot-notation": 1,          // encourages use of dot notation whenever possible
    "eqeqeq": 1,                // require the use of === and !==
    "guard-for-in": 1,          // make sure for-in loops have an if statement (off by default)
    "no-alert": 1,              // disallow the use of alert, confirm, and prompt
    "no-caller": 1,             // disallow use of arguments.caller or arguments.callee
    "no-div-regex": 1,          // disallow division operators explicitly at beginning of regular expression (off by default)
    "no-else-return": 1,        // disallow else after a return in an if (off by default)
    "no-eq-null": 1,            // disallow comparisons to null without a type-checking operator (off by default)
    "no-eval": 1,               // disallow use of eval()
    "no-extend-native": 1,      // disallow adding to native types
    "no-extra-bind": 1,         // disallow unnecessary function binding
    "no-fallthrough": 1,        // disallow fallthrough of case statements
    "no-floating-decimal": 1,   // disallow the use of leading or trailing decimal points in numeric literals (off by default)
    "no-implied-eval": 1,       // disallow use of eval()-like methods
    "no-iterator": 1,           // disallow usage of __iterator__ property
    "no-labels": 1,             // disallow use of labeled statements
    "no-lone-blocks": 1,        // disallow unnecessary nested blocks
    "no-loop-func": 1,          // disallow creation of functions within loops
    "no-multi-spaces": 1,       // disallow use of multiple spaces
    "no-multi-str": 1,          // disallow use of multiline strings
    "no-native-reassign": 1,    // disallow reassignments of native objects
    "no-new": 1,                // disallow use of new operator when not part of the assignment or comparison
    "no-new-func": 1,           // disallow use of new operator for Function object
    "no-new-wrappers": 1,       // disallows creating new instances of String, Number, and Boolean
    "no-octal": 1,              // disallow use of octal literals
    "no-octal-escape": 1,       // disallow use of octal escape sequences in string literals, such as var foo = "Copyright \251";
    "no-process-env": 1,        // disallow use of process.env (off by default)
    "no-proto": 1,              // disallow usage of __proto__ property
    "no-redeclare": 1,          // disallow declaring the same variable more then once
    "no-return-assign": 1,      // disallow use of assignment in return statement
    "no-script-url": 1,         // disallow use of javascript: urls.
    "no-self-compare": 1,       // disallow comparisons where both sides are exactly the same (off by default)
    "no-sequences": 1,          // disallow use of comma operator
    "no-unused-expressions": 1, // disallow usage of expressions in statement position
    "no-void": 1,               // disallow use of void operator (off by default)
    "no-warning-comments": 1,   // disallow usage of configurable warning terms in comments, e.g. TODO or FIXME (off by default)
    "no-with": 1,               // disallow use of the with statement
    "radix": 1,                 // require use of the second argument for parseInt() (off by default)
    "vars-on-top": 1,           // requires to declare all vars on top of their containing scope (off by default)
    "wrap-iife": 1,             // require immediate function invocation to be wrapped in parentheses (off by default)
    "yoda": 1,                  // require or disallow Yoda conditions


    ////////// Strict Mode //////////

    "strict": 0,          // controls location of Use Strict Directives


    ////////// Variables //////////

    "no-catch-shadow": 1,             // disallow the catch clause parameter name being the same as a variable in the outer scope (off by default in the node environment)
    "no-delete-var": 1,               // disallow deletion of variables
    "no-label-var": 1,                // disallow labels that share a name with a variable
    "no-shadow": 1,                   // disallow declaration of variables already declared in the outer scope
    "no-shadow-restricted-names": 1,  // disallow shadowing of names such as arguments
    "no-undef": 1,                    // disallow use of undeclared variables unless mentioned in a /*global */ block
    "no-undef-init": 1,               // disallow use of undefined when initializing variables
    "no-undefined": 1,                // disallow use of undefined variable (off by default)
    "no-unused-vars": 1,              // disallow declaration of variables that are not used in the code
    "no-use-before-define": 1,        // disallow use of variables before they are defined


    ////////// Node.js //////////

    "handle-callback-err": 1,   // enforces error handling in callbacks (off by default) (on by default in the node environment)
    "no-mixed-requires": 1,     // disallow mixing regular variable and require declarations (off by default) (on by default in the node environment)
    "no-new-require": 1,        // disallow use of new operator with the require function (off by default) (on by default in the node environment)
    "no-path-concat": 1,        // disallow string concatenation with __dirname and __filename (off by default) (on by default in the node environment)
    "no-process-exit": 1,       // disallow process.exit() (on by default in the node environment)
    "no-restricted-modules": 1, // restrict usage of specified node modules (off by default)
    "no-sync": 1,               // disallow use of synchronous methods (off by default)


    ////////// Stylistic Issues //////////

    "brace-style": 1,               // enforce one true brace style (off by default)
    "camelcase": 0,                 // require camel case names
    "comma-spacing": 1,             // enforce spacing before and after comma
    "comma-style": 1,               // enforce one true comma style (off by default)
    "consistent-this": 1,           // enforces consistent naming when capturing the current execution context (off by default)
    "eol-last": 1,                  // enforce newline at the end of file, with no multiple empty lines
    "func-names": 1,                // require function expressions to have a name (off by default)
    "func-style": 0,                // enforces use of function declarations or expressions (off by default)
    "key-spacing": 1,               // enforces spacing between keys and values in object literal properties
    "max-nested-callbacks": 1,      // specify the maximum depth callbacks can be nested (off by default)
    "new-cap": 1,                   // require a capital letter for constructors
    "new-parens": 1,                // disallow the omission of parentheses when invoking a constructor with no arguments
    "no-array-constructor": 1,      // disallow use of the Array constructor
    "no-inline-comments": 1,        // disallow comments inline after code (off by default)
    "no-lonely-if": 1,              // disallow if as the only statement in an else block (off by default)
    "no-mixed-spaces-and-tabs": 1,  // disallow mixed spaces and tabs for indentation
    "no-multiple-empty-lines": 1,   // disallow multiple empty lines (off by default)
    "no-nested-ternary": 1,         // disallow nested ternary expressions (off by default)
    "no-new-object": 1,             // disallow use of the Object constructor
    "no-spaced-func": 1,            // disallow space between function identifier and application
    "no-ternary": 1,                // disallow the use of ternary operators (off by default)
    "no-trailing-spaces": 1,        // disallow trailing whitespace at the end of lines
    "no-underscore-dangle": 1,      // disallow dangling underscores in identifiers
    "one-var": 0,                   // allow just one var statement per function (off by default)
    "operator-assignment": 1,       // require assignment operator shorthand where possible or prohibit it entirely (off by default)
    "padded-blocks": 0,             // enforce padding within blocks (off by default)
    "quote-props": 1,               // require quotes around object literal property names (off by default)
    "quotes": 0,                    // specify whether double or single quotes should be used
    "semi": 1,                      // require or disallow use of semicolons instead of ASI
    "sort-vars": 1,                 // sort variables within the same declaration block (off by default)
    "space-before-blocks": 1,       // require or disallow space before blocks (off by default)
    "space-in-parens": 1,           // require or disallow spaces inside parentheses (off by default)
    "space-infix-ops": 0,           // require spaces around operators
    "space-unary-ops": 1,           // Require or disallow spaces before/after unary operators (words on by default, nonwords off by default)
    "wrap-regex": 1,                // require regex literals to be wrapped in parentheses (off by default)


    ////////// ECMAScript 6 //////////

    "no-var": 1,          // require let or const instead of var (off by default)


    ////////// Legacy //////////

    "max-depth": 0,       // specify the maximum depth that blocks can be nested (off by default)
    "max-len": 0,         // specify the maximum length of a line in your program (off by default)
    "max-params": 0,      // limits the number of parameters that can be used in the function declaration. (off by default)
    "max-statements": 0,  // specify the maximum number of statement allowed in a function (off by default)
    "no-bitwise": 0,      // disallow use of bitwise operators (off by default)
    "no-plusplus": 0,      // disallow use of unary operators, ++ and -- (off by default)

    ////////// New //////////
    "accessor-pairs": 1,
    "array-bracket-newline": 1,
    "array-bracket-spacing": 1,
    "array-callback-return": 1,
    "array-element-newline": 0,
    "arrow-body-style": 1,
    "arrow-parens": 1,
    "arrow-spacing": 1,
    "block-spacing": 1,
    "callback-return": 1,
    "capitalized-comments": 0,  // require comments start from capital letter
    "class-methods-use-this": 1,
    "comma-dangle": 1,
    "computed-property-spacing": 1,
    "constructor-super": 1,
    "dot-location": 1,
    "for-direction": 1,
    "func-call-spacing": 1,
    "func-name-matching": 1,
    "generator-star-spacing": 1,
    "getter-return": 1,
    "global-require": 1,
    "id-blacklist": 1,
    "id-length": 1,
    "id-match": 1,
    "indent": 0,  // force using 4 spaces for indenation
    "init-declarations": 1,
    "jsx-quotes": 1,
    "keyword-spacing": 1,
    "line-comment-position": 1,
    "linebreak-style": 1,
    "lines-around-comment": 1,
    "max-lines": 0,
    "max-statements-per-line": 1,
    "multiline-ternary": 1,
    "newline-per-chained-call": 1,
    "no-await-in-loop": 1,
    "no-buffer-constructor": 1,
    "no-case-declarations": 1,
    "no-class-assign": 1,
    "no-compare-neg-zero": 1,
    "no-confusing-arrow": 1,
    "no-const-assign": 1,
    "no-continue": 1,
    "no-dupe-args": 1,
    "no-dupe-class-members": 1,
    "no-duplicate-case": 1,
    "no-duplicate-imports": 1,
    "no-empty-character-class": 1,
    "no-empty-function": 1,
    "no-empty-pattern": 1,
    "no-extra-label": 1,
    "no-global-assign": 1,
    "no-implicit-coercion": 1,
    "no-implicit-globals": 0,
    "no-invalid-this": 1,
    "no-magic-numbers": 0,
    "no-mixed-operators": 1,
    "no-multi-assign": 1,
    "no-negated-condition": 1,
    "no-new-symbol": 1,
    "no-param-reassign": 1,
    "no-prototype-builtins": 1,
    "no-restricted-globals": 1,
    "no-restricted-imports": 1,
    "no-restricted-properties": 1,
    "no-restricted-syntax": 1,
    "no-return-await": 1,
    "no-self-assign": 1,
    "no-tabs": 1,
    "no-template-curly-in-string": 1,
    "no-this-before-super": 1,
    "no-throw-literal": 1,
    "no-unexpected-multiline": 1,
    "no-unmodified-loop-condition": 1,
    "no-unneeded-ternary": 1,
    "no-unsafe-finally": 1,
    "no-unsafe-negation": 1,
    "no-unused-labels": 1,
    "no-useless-call": 1,
    "no-useless-computed-key": 1,
    "no-useless-concat": 1,
    "no-useless-constructor": 1,
    "no-useless-escape": 1,
    "no-useless-rename": 1,
    "no-useless-return": 1,
    "no-whitespace-before-property": 1,
    "nonblock-statement-body-position": 1,
    "object-curly-newline": 0,  // no newline curly
    "object-curly-spacing": 0,
    "object-property-newline": 0,
    "object-shorthand": 1,
    "one-var-declaration-per-line": 1,
    "operator-linebreak": 1,
    "padding-line-between-statements": 1,
    "prefer-arrow-callback": 1,
    "prefer-const": 0,
    "prefer-destructuring": 1,
    "prefer-numeric-literals": 1,
    "prefer-promise-reject-errors": 1,
    "prefer-rest-params": 1,
    "prefer-spread": 1,
    "prefer-template": 1,
    "require-await": 1,
    "require-jsdoc": 0,  // require documentation
    "require-yield": 1,
    "rest-spread-spacing": 1,
    "semi-spacing": 1,
    "semi-style": 1,
    "sort-imports": 1,
    "sort-keys": 1,
    "space-before-function-paren": 0,
    "spaced-comment": 1,
    "switch-colon-spacing": 1,
    "symbol-description": 1,
    "template-curly-spacing": 1,
    "template-tag-spacing": 1,
    "unicode-bom": 1,
    "yield-star-spacing": 1
  }
}
