[include]
        path = ~/.gitconfig.local
[core]
	excludesfile = ~/.gitignore
[cola]
	spellcheck = false
[credential]
	helper = cache
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
[color]
	ui = auto
[push]
	default = current
[difftool]
	trustExitCode = true
	prompt = false
[mergetool]
	trustExitCode = true
