*~
*.bak
*.class
.directory
.idea/
*.swp
tags
*.gen
*.db
.cproject
.kdev4/
.project
.settings/
CMakeLists.txt.user
CMakeCache.txt
*.autosave
compile_commands.json
.idea/
*.lock
*.temp
.ropeproject/
.mypy_cache/
CMakeFiles/
target/
*.iml
