let mapleader=','
let maplocalleader='\'

set history=1000
set hlsearch
set ignorecase
set infercase
set smartcase
set ideajoin
set incsearch
set number
set relativenumber
set scrolloff=3
set undolevels=1000
set visualbell

" insert mode
inoremap jk <ESC>
inoremap jK <ESC>
inoremap Jk <ESC>
inoremap JK <ESC>
inoremap <C-j> <ESC>:action EditorStartNewLine<CR>i
inoremap <A-h> <LEFT>
inoremap <A-l> <RIGHT>
inoremap <A-k> <UP>
inoremap <A-j> <DOWN>
inoremap <C-l> <Delete>

vnoremap \y "+y
vnoremap \d "+d
vnoremap \p "+p

nnoremap \y "+y
nnoremap \Y "+y$
nnoremap \d "+d
nnoremap \D "+D
nnoremap \p "+p
nnoremap \P "+P

nnoremap yp "0p
nnoremap yP "0P

inoremap <silent> <A-n> :action MoveLineDown<CR>
inoremap <silent> <A-p> :action MoveLineUp<CR>
nnoremap <silent> <A-n> :action MoveLineDown<CR>
nnoremap <silent> <A-p> :action MoveLineUp<CR>

inoremap <silent> <A-S-n> :action MoveStatementDown<CR>
inoremap <silent> <A-S-p> :action MoveStatementUp<CR>
nnoremap <silent> <A-S-n> :action MoveStatementDown<CR>
nnoremap <silent> <A-S-p> :action MoveStatementUp<CR>

vnoremap <silent> <A-n> dkPgv=gv
vnoremap <silent> <A-p> dpgv=gv
nnoremap [m :action MethodUp<CR>
nnoremap ]m :action MethodDown<CR>
nnoremap [<space> O<ESC>
nnoremap ]<space> o<ESC>
nnoremap [v :action MoveElementLeft<CR>
nnoremap ]v :action MoveElementRight<CR>
vnoremap [v :action MoveElementLeft<CR>
vnoremap ]v :action MoveElementRight<CR>
nnoremap ]q :action NextOccurence<CR>
nnoremap [q :action PreviousOccurence<CR>
nnoremap <C-j> :action NextOccurence<CR>
nnoremap <C-k> :action PreviousOccurence<CR>
nnoremap Y y$
nnoremap <C-h> :action GotoPreviousError<CR>
nnoremap <C-l> :action GotoNextError<CR>
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>
nnoremap - ]w
nnoremap _ ]b
nnoremap g- [w
nnoremap g_ [b
nnoremap d- d]w
nnoremap d_ d[b
nnoremap c- c]w
nnoremap c_ c[b
nnoremap gK :action ParameterInfo<CR>
nnoremap <Leader>q :action ReformatCode<CR>
nnoremap <Tab> :action NextTab<CR>
nnoremap <S-Tab> :action PrevTab<CR>
nnoremap ]b :action NextTab<CR>
nnoremap [b :action PrevTab<CR>

" IdeaVim stuff
set surround
nnoremap gd :action GotoTypeDeclaration<CR>
nnoremap gD :action GotoImplementation<CR>
nnoremap <Leader>gp :action GotoSuperMethod<CR>
nnoremap <Leader>gf :action GotoFile<CR>
nnoremap <C-p> :action GotoFile<CR>
nnoremap <Leader>gF :action ActivateProjectToolWindow<CR>
nnoremap <Leader>gT :action FileStructurePopup<CR>
nnoremap <Leader>gt :action GotoSymbol<CR>
nnoremap <Leader>gc :action GotoClass<CR>
nnoremap <Leader>gu :action FindUsages<CR>
nnoremap <Leader><Leader> :action AceAction<CR>
nnoremap <Leader>rn :action RenameElement<CR>
nnoremap <Leader>rv :action IntroduceVariable<CR>
nnoremap <Leader>rc :action IntroduceConstant<CR>
nnoremap g; :action JumpToLastChange<CR>
nnoremap g, :action JumpToNextChange<CR>
nnoremap <C-w>} :action QuickImplementations<CR>
nnoremap <C-w>q :action CloseEditor<CR>
nnoremap <C-w>z :action HideAllWindows<CR>
nnoremap <C-w><C-z> :action HideAllWindows<CR>
nnoremap <C-w>o :action UnsplitAll<CR>
nnoremap <C-w><C-o> :action UnsplitAll<CR>
nnoremap <C-w>] <C-w>v<C-]>
nnoremap <C-w><C-]> <C-w>v<C-]>
nnoremap <Leader>bo :action CloseAllEditorsButActive<CR>
nnoremap <Leader>vlu :action Vcs.RollbackChangedLines<CR>

nnoremap <C-w>n :action NewElement<CR>
nnoremap <C-w><C-n> :action NewElement<CR>
nnoremap <Leader>bn :action NewClass<CR>
nnoremap <C-w>c :action CloseEditor<CR>
nnoremap <Leader>bd :action CloseEditor<CR>

nnoremap <Leader>mr :action Run<CR>
nnoremap <Leader>mR :action ChooseRunConfiguration<CR>
nnoremap <Leader>md :action Debug<CR>
nnoremap <Leader>db :action ToggleLineBreakpoint<CR>
nnoremap <Leader>mb :action Compile<CR>
nnoremap <Leader>mB :action Maven.ExecuteGoal<CR>

nnoremap <Leader>tr :action RerunTests<CR>
nnoremap <Leader>tf :action RerunFailedTests<CR>
nnoremap <Leader>tc :action RunClass<CR>
nnoremap <Leader>tC :action DebugClass<CR>
" version control
nnoremap <Leader>va :action Annotate<CR>
