let mapleader=','
let localleader='\'

set history=1000
set hlsearch
set ignorecase
set infercase
set smartcase
set incsearch
set number
set relativenumber
set scrolloff=3
set undolevels=1000

" insert mode
inoremap jk <ESC>
inoremap jK <ESC>
inoremap Jk <ESC>
inoremap JK <ESC>
inoremap <C-j> <CR>
inoremap <A-h> <LEFT>
inoremap <A-l> <RIGHT>
inoremap <A-k> <UP>
inoremap <A-j> <DOWN>

vnoremap <LocalLeader>y "+y
vnoremap <LocalLeader>d "+d
vnoremap <LocalLeader>p "+p

nnoremap <LocalLeader>y "+y
nnoremap <LocalLeader>Y "+y$
nnoremap <LocalLeader>d "+d
nnoremap <LocalLeader>D "+D
nnoremap <LocalLeader>p "+p
nnoremap <LocalLeader>P "+P

inoremap <silent> <A-n> :action MoveLineDown<CR>
inoremap <silent> <A-p> :action MoveLineUp<CR>
nnoremap <silent> <A-n> :action MoveLineDown<CR>
nnoremap <silent> <A-p> :action MoveLineUp<CR>
vnoremap <silent> <A-n> dkPgv=gv
vnoremap <silent> <A-p> dpgv=gv
nnoremap [m :action MethodUp<CR>
nnoremap ]m :action MethodDown<CR>
nnoremap [<space> O<ESC>
nnoremap ]<space> o<ESC>
nnoremap Y y$

" IdeaVim stuff
set vim-surround
nnoremap gd :action GotoTypeDeclaration<CR>
nnoremap gD :action GotoImplementation<CR>
nnoremap <Leader>gp :action GotoSuperMethod<CR>
nnoremap <Leader>gf :action GotoFile<CR>
nnoremap <C-p> :action GotoFile<CR>
nnoremap <Leader>gF :action ActivateProjectToolWindow<CR>
nnoremap <Leader>gT :action FileStructurePopup<CR>
nnoremap <Leader>gt :action GotoSymbol<CR>
nnoremap <Leader>gc :action GotoClass<CR>
nnoremap <Leader>u :action FindUsages<CR>
nnoremap <Leader><Leader> :action AceAction<CR>
nnoremap <Leader>rn :action RenameElement<CR>
nnoremap <Leader>rv :action IntroduceVariable<CR>
nnoremap <Leader>rc :action IntroduceConstant<CR>
nnoremap g; :action JumpToLastChange<CR>
nnoremap g, :action JumpToNextChange<CR>
nnoremap <C-w>m :action HideAllWindows<CR>
nnoremap <C-w>} :action QuickImplementations<CR>

nnoremap <Leader>mr :action Run<CR>
nnoremap <Leader>md :action Debug<CR>

nnoremap <Leader>tr :action RerunTests<CR>
nnoremap <Leader>tf :action RerunFailedTests<CR>
nnoremap <Leader>tc :action RunClass<CR>
nnoremap <Leader>tC :action DebugClass<CR>
" version control
nnoremap <Leader>va :action Annotate<CR>
