# show matching parenthesis
set blink-matching-paren on
# highligh common prefix
set colored-completion-prefix on
set colored-stats on
set editing-mode vi
# first tab shows list, next cycles
set menu-complete-display-prefix on
# move backward
# "\e[Z": menu-complete-backward
set print-completions-horizontally on
set show-all-if-ambiguous on
# use only one tab to show list of autocomplete candidates
set show-all-if-unmodified on
# set completion-ignore-case on
# Treat hypens and underscores as equivalent when completing
# set completion-map-case on
# show vi mode indicator
set show-mode-in-prompt on
# show filetype in completion
set visible-stats on
$if term=linux
    set vi-ins-mode-string \1\e[?0c\2
    set vi-cmd-mode-string \1\e[?8c\2
$else
    set vi-ins-mode-string \1\e[5 q\2
    set vi-cmd-mode-string \1\e[2 q\2
$endif

# keybindings
Control-k history-search-backward
Control-j history-search-forward
Control-n menu-complete
Control-p menu-complete-backward
Control-a beginning-of-line 
Control-e end-of-line 
