*.lock
*.rss
*.dat
*.tree
*.index
segments_1
segments_2
segments_3
segments_4
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.m2e.core/nexus/**/segments_*
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/
.metadata/.plugins/org.eclipse.m2e.core/nexus/*/*.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/*/*.del
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/**/*.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/**/*.cfe
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/**/*.cfs
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/**/*.si
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/**/*.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/**/*.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/**/*.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/**/*.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/**/*.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/**/*.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/**/*.prx
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/
http-cache.lucene60/
.metadata/.plugins/org.python.pydev/pyunit_tests/test_run_pin_info.txt
*.resources
.metadata/version.ini
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/
.metadata/.plugins/org.eclipse.cdt.core/*.pdom
dialog_settings.xml
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
